/* body {
  padding-top: 56px;
} */

.bg-image-full {
  background-image: url('/static/image/header.png');
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

.bg-image-full .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.2;
}

.bg-image-full .site-heading {
  padding: 100px 0;
  text-align: center;
}

.bg-image-full .site-heading h1 {
  color: white;
  font-size: 80px;
}

*:focus {
  box-shadow: none !important;
}
